@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 10px 0;
}

.input-field {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.input-label {
  font-family: "Exo";
  font-size: 10px;
  font-weight: normal;
  font-style: italic;
  text-align: left;
  color: #fafafa;
}
