<footer class="footer-container">
  <div class="footer-content">
    <img src="https://img.icons8.com/?size=100&id=484&format=png&color=000000" alt="">
    <p class="footer_text">Bonificación</p>
  </div>
  <div class="footer-content" [ngClass]="{'active': activeTabIndex === 0}">
    <img src="https://img.icons8.com/?size=100&id=42309&format=png&color=000000" alt="">
    <p class="footer_text">Resumen</p>
  </div>
  <div class="footer-content">
    <img src="https://img.icons8.com/?size=100&id=1106&format=png&color=000000" alt="">
    <p class="footer_text">Autoejecución</p>
  </div>
</footer>
